.form {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: center;
}

.subtitle {
  font-size: 0.875rem;
  color: #666;
  text-align: center;
  margin-bottom: 2rem;
}

.link {
  color: #000;
  text-decoration: underline;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.forgotPassword {
  margin-top: 0.5rem;
  text-align: right;
}

.forgotPasswordLink {
  font-size: 0.875rem;
  color: #666;
  text-decoration: underline;
}
