.footer {
  bottom: 0;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}

.logo {
  max-width: 200px;

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.description {
  margin-top: 5px;

  @media (max-width: 600px) {
    margin-top: 0.5rem;
    text-align: center;
  }
}

.inner {
  display: flex;
  justify-content: space-between;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }
}

.groups {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 600px) {
    display: none;
  }
}

.wrapper {
  width: 160px;
}

.link {
  display: block;
  color: #495057;
  font-size: 0.875rem;
  padding-top: 3px;
  padding-bottom: 3px;

  &:hover {
    text-decoration: underline;
  }
}

.title {
  font-size: 1.125rem;
  font-weight: 500;
  font-family: Outfit, sans-serif;
  margin-bottom: 0.25rem;
  color: #000;
}

.afterFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  border-top: 1px solid #dee2e6;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.social {
  @media (max-width: 600px) {
    margin-top: 0.5rem;
  }
}
