.container {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 1rem;
}

.error {
  background-color: #fef2f2;
  color: #991b1b;
}

.success {
  background-color: #f0fdf4;
  color: #166534;
}

.text {
  margin: 0;
}
