.header {
  height: 60px;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 1px solid #e9ecef;
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 0.875rem;

  @media (max-width: 600px) {
    height: 42px;
    width: 100%;
  }

  &:hover {
    background-color: #f8f9fa;
  }
}

.subLink {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;

  &:hover {
    background-color: #f8f9fa;
  }
}

.dropdownFooter {
  background-color: #f8f9fa;
  margin: -1rem;
  margin-top: 0.75rem;
  padding: 1rem 2rem;
  padding-bottom: 1.5rem;
  border-top: 1px solid #dee2e6;
}

.dropdown {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  width: 600px;
  background-color: white;
  border: 1px solid #e9ecef;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: 1rem;
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 80%;
  max-width: 400px;
  background-color: white;
  padding: 1.5rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
